.video{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #fff;
    scroll-snap-align: start;
}
.video__playerLogo{
    position: absolute;
    top: 100;
    right: 80;
    height: 40px;
    width: 100%;
}
.video__player{
    object-fit: fill;
    width: 100%;
    height: 100%;
}
.video__Logo{
    height: 100%;
    filter: invert(1);
}
